body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
  }
  
  h1 {
    background-color: #00ff00;
  }
  
  p:first-of-type {
    text-decoration: underline;
  }
  
  p:last-of-type {
    border: 1px solid black;
    padding: 5px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }